<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.glowboard.settings</string>
			<key>key</key>
			<string>showInSwitcher</string>
			<key>label</key>
			<string>Show in Switcher</string>
			<key>PostNotification</key>
			<string>com.efrederickson.glowboard/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.glowboard.settings</string>
			<key>key</key>
			<string>animateGlow</string>
			<key>label</key>
			<string>Animate Glow</string>
			<key>PostNotification</key>
			<string>com.efrederickson.glowboard/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.glowboard.settings</string>
			<key>key</key>
			<string>glowDock</string>
			<key>label</key>
			<string>Animate Dock</string>
			<key>PostNotification</key>
			<string>com.efrederickson.glowboard/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.glowboard.settings</string>
			<key>key</key>
			<string>animateNotifications</string>
			<key>label</key>
			<string>Animate Badged Icons</string>
			<key>PostNotification</key>
			<string>com.efrederickson.glowboard/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.glowboard.settings</string>
			<key>key</key>
			<string>glowFolders</string>
			<key>label</key>
			<string>Animate Folders</string>
			<key>PostNotification</key>
			<string>com.efrederickson.glowboard/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.glowboard.settings</string>
			<key>key</key>
			<string>bounceDock</string>
			<key>label</key>
			<string>Bounce Dock</string>
			<key>PostNotification</key>
			<string>com.efrederickson.glowboard/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.efrederickson.glowboard.settings</string>
			<key>key</key>
			<string>activeColor</string>
			<key>label</key>
			<string>Active Color</string>
			<key>PostNotification</key>
			<string>com.efrederickson.glowboard/reloadSettings</string>
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Light White</string>
				<string>Red</string>
				<string>Dark</string>
				<string>Adaptive</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<string>4</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.efrederickson.glowboard.settings</string>
			<key>key</key>
			<string>badgedColor</string>
			<key>label</key>
			<string>Badged Color</string>
			<key>PostNotification</key>
			<string>com.efrederickson.glowboard/reloadSettings</string>
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Light White</string>
				<string>Red</string>
				<string>Dark</string>
				<string>Adaptive</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<string>4</string>
				<string>5</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>GlowBoard</string>
</dict>
</plist>
