Package: com.efrederickson.glowboard
Section: Tweaks
Architecture: iphoneos-arm
Version: 0.1
Description: Running app icons glow
Name: GlowBoard
Depends: firmware (>= 4.0), mobilesubstrate, preferenceloader
Author: Elijah Frederickson <elijah.frederickson@gmail.com>
Tag: purpose::extension
